@import url('https://fonts.googleapis.com/css?family=Changa|Mukta&display=swap');

.body {
    background-color: #53b7ff;
}

.bg-blue {
    background-color: #53b7ff;
}


/*      Top slider    */
.carousel-inner {
    height: 400px;
    width: 100%;
    padding: 0;
    background-color: #53b7ff;
}

.carousel-inner .carousel-item{
    animation-name: lambretta-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: center;
}

@keyframes lambretta-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

.bg-blue {
    background-color: #53b7ff;
}


/* background images */

.fixed-bg-top {
  background-image: url("https://i.ibb.co/ccYKC8G/background-1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.fixed-bg-middle {
  background-image: url("https://i.ibb.co/rt4R1qP/background-2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg-bottom {
  background-image: url("https://i.ibb.co/sVBh0cs/background-3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}