@import url('https://fonts.googleapis.com/css?family=Changa|Mukta&display=swap');


.p-4 {
    padding: 0.5rem!important;
}

/*      Top slider    */

.header-gradient {
    height: 400px;
    background-color:#53b7ff;
    background-image: radial-gradient(blue,#fcfcfc, #53b7ff)
}

.carousel-inner {
    height: 400px;
    width: 100%;
    padding: 0;
    background-color: #53b7ff;
}

.carousel-inner .carousel-item{
    animation-name: lambretta-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes lambretta-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

.bg-blue {
    background-color: #53b7ff;
}


/*          Title           */

.title-opacy {
    background-color: transparent;
}

.title-blue {
    color: #53b7ff;
    text-align: center;
    font-family: "Changa", sans-serif;
    font-size: 100px;
    text-decoration: underline;
    text-shadow:6px 6px 8px rgb(49, 36, 83);
}

@media screen and (min-width: 601px){
    .title-blue {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px){
    .title-blue {
        font-size: 50px;
    }
}

/* background images */

.fixed-bg-top {
  background-image: url("https://i.ibb.co/tCN9TVf/background-1.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.fixed-bg-middle {
  background-image: url("https://i.ibb.co/DCBq1kN/background-2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg-bottom {
  background-image: url("https://i.ibb.co/34qN4nf/background-3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Members feedback */

.quote-bg {
    max-height: 600px;
    background-image: linear-gradient( to right,#53b7ff, #adddff);
    text-align: center;
    min-height: 300px;
    margin: 0;
}

.quote-style {
    font-family: "Mukta", sans-serif;
}

@media screen and (min-width: 601px) {
    .quote-style {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
    .quote-style {
    font-size: 20px;
  }
}

/*   Gallery    */

.gallery-images {
    background-image: linear-gradient( to right,#53b7ff, #adddff);
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.fixed-bg-middle img {
    border-style: ridge;
    padding: 10px;
}

.img-fluid {
    box-shadow: 5px 5px 8px 5px #53b7ff;
    border-style: ridge;
}

.gallery-blue-img{
    width: 300px;
}

.gallery-green-img {
    width: 390px;
}

.gallery-sidecar-img {
    width: 300px;
}

.gallery-social-img {
    width: 400px;
}

.gallery-beach-img {
    width: 250px;
}

/*   Form    */

.form-bg {
    background-image: linear-gradient( to right,#53b7ff, #adddff);
    height: fit-content;
    font-family: "Mukta", sans-serif;
    text-align: center;
    font-size: 20px;
}

.outer-text {
    padding: 3rem;
}

.inner-text {
    max-width: 100%;
    height: fit-content;
    margin: auto 0px;
}

.btn-righside {
    text-align: right;
}

/*   Footer/Address/Social Links    */

.footer-bg {
    background-image: linear-gradient( to right,#44a0e2, #92bddb);
    padding-top: 10px;
}

.footer-text {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 20px;

}

.social-icon {
    text-align: left;
    padding-top: 100px;
}

.social-icon a i {
    padding: 30px;
    color: black;
}