@import url('https://fonts.googleapis.com/css?family=Changa|Mukta&display=swap');

.carousel-inner {
    height: 400px;
    width: 100%;
    padding: 0 20%;
    background-color: #52b7ff;
}

.carousel-inner .carousel-item{
    animation-name: lambretta-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    
    overflow: hidden;
    position: center;
}

@keyframes lambretta-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}